<template>
    <div>
        <ul class="nav flex-column bg-dark col-2 pr-0 text-white">
            <li class="nav-item">
                <a :class="'nav-link ' + checkActive('dashboard-component')"
                    @click="setComponent('dashboard-component')"
                >
                    <i class="fas fa-home"></i>&nbsp;
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a :class="'nav-link ' + checkActive('list-of-users')"
                   @click="setComponent('list-of-users')"
                >
                    <i class="fas fa-users"></i>&nbsp;
                    Costumers
                </a>
            </li>
            <li class="nav-item">
                <a :class="'nav-link ' + checkActive('analysis-component')"
                   @click="setComponent('analysis-component')"
                >
                    <i class="fas fa-chart-line"></i>&nbsp;
                    Analysis
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" tabindex="-1" aria-disabled="true"
                   @click="goToMainPage"
                >
                    <i class="fas fa-step-backward"></i>&nbsp;
                    Back
                </a>
            </li>
        </ul>

        <div class="main-component offset-2 col-10">
            <!-- Content Here -->
            <component v-bind:is="currentComponent"></component>
        </div>
    </div>
</template>

<script>

    import ListOfUsersComponent from "./ListOfUsersComponent";
    import DashboardComponent from "./DashboardComponent";

    export default {
        comments: {
            'list-of-users': ListOfUsersComponent,
            'dashboard-component': DashboardComponent
        },
        data() {
            return {
                currentComponent: 'dashboard-component'

            }
        },
        mounted() {

        },
        methods: {
            checkActive(name) {
                return name === this.currentComponent ? 'active' : '';
            },
            setComponent(componentStr) {
                this.currentComponent = componentStr;
            },
            goToMainPage() {
                window.location = "/";
            }
        }
    }
</script>
<style scoped>

    .nav {
        position: absolute;
        top: 55px;
        bottom: 0;
    }

    .main-component {
        max-height: 615px;
        overflow-y: scroll;
    }

    .active {
        background-color: #1d68a7;
    }

    .nav-item:hover {
        cursor: pointer;
    }
</style>
