<template>
    <div>
        <vue-highcharts id="analysis" :options="options" ref="analysisChart" :highcharts="highCharts"
                        v-cloak></vue-highcharts>
    </div>
</template>

<script>
    import VueHighcharts from 'vue2-highcharts';
    import Highcharts from 'highcharts';
    import moment from 'moment';

    export default {
        name: "AnalysisComponent",
        components: {
            VueHighcharts,
        },
        data() {
            return {
                show: false,
                highCharts: Highcharts,
                options: {
                    chart: {
                        type: 'spline',
                        height: 500,
                    },
                    title: {
                        text: 'Uploading stats',
                        align: 'center',
                        // floating: true,
                        style: {
                            fontSize: '24px',
                            fontWeight: 'bold',
                            textDecoration: 'underline'
                        }
                    },
                    lang: {
                        decimalPoint: '.'
                    },
                    plotOptions: {
                        spline: {
                            marker: {
                                radius: 0,
                                lineColor: '#666666',
                                lineWidth: 1
                            }
                        },
                        series: {
                            showInNavigator: true,
                        }
                    },
                    series: [],
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: {
                            day: '%e \%b \%y',
                            month: '%b \'%y'
                        }
                    },
                    yAxis: {
                        title: {
                            text: "Quantity"
                        },
                        opposite: false
                    },

                }
            }
        },
        mounted() {
            this.loadData();
        },
        methods: {
            loadData() {
                spinner();
                let analysisChart = this.$refs.analysisChart;
                analysisChart.delegateMethod('showLoading', 'Loading...');
                axios.get('statistics')
                    .then(response => {
                        let respData = response.data;
                        let asyncData = {name: "Uploadings", data: []};
                        _.forOwn(respData, function (val, key) {
                            asyncData.data.push([moment.utc(key).valueOf(), val])
                        })
                        analysisChart.addSeries(asyncData);
                        analysisChart.hideLoading();
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: error,
                            icon:"error"
                        });
                    })
                    .finally(() => {
                        spinner(false);
                    })


            }
        }
    }
</script>

<style scoped>

</style>
