<template>
    <div>
        <div >
<!--    begin info panels       -->
            <div class="row">
                <div class="card comp-card col-md-3 ml-4"
                    v-for="(infoItem, index) in infoData"
                >
                    <div class="card-body">
                        <h5 class="mb-3">{{infoItem.field_name}}</h5>
                        <div class="row align-items-center">
                            <div class="col text-center">
                                <h3 class="font-weight-bold text-info">{{infoItem.count}}</h3>
                            </div>
                            <div class="col-auto">
                                <i :class="iconsItems[index]"></i>
                            </div>
                        </div>
                        <p class="mb-0 pt-2">{{infoItem.first_created_at + ' - ' + infoItem.last_created_at}}</p>
                    </div>
                </div>
            </div>
<!--    end info panels        -->
        </div>
        <div>
<!--   begin latest uploaded files       -->
            <div class="card" v-if="latestFiles.length">
                <div class="card-body">
                    <h5 class="card-title">Latest five uploaded</h5>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Filename</th>
                            <th scope="col">Uploader</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(file, index) in latestFiles">
                            <th scope="row">{{index + 1}}</th>
                            <td><a @click="downloadFile(file)">{{file.filename}}</a></td>
                            <td>{{file.user.full_name}}</td>
                            <td>{{file.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
<!--   end latest uploaded files       -->
        </div>
    </div>
</template>

<script>
    export default {
        name: "DashboardComponent",
        data() {
            return {
                infoData: [],
                latestFiles: [],
                iconsItems: {
                    total_uploads: "fas fa-upload bg-info",
                    total_users: "fas fa-users bg-success"
                }

            }
        },
        mounted() {
            this.getDashboardInfo();
            this.getLatestFiles();
        },
        methods: {
            getDashboardInfo() {
                spinner();
                axios.get('/dashboard-info')
                .then(response => {
                    this.infoData = response.data;
                })
                .catch(error => {
                    Swal.fire({
                        title: 'Oops... something wrong',
                        text: error.response.data.message,
                        icon:"error"
                    }).finally(() => {
                        window.location = "/";
                    });

                })
                .finally(() => {
                    spinner(false);
                })
            },
            getLatestFiles() {
                axios.get('latest-files')
                    .then(response => {
                        this.latestFiles = response.data;
                    })
                .catch(error => {
                    Swal.fire({
                        title: 'Oops... something wrong',
                        text: error,
                        icon:"error"
                    });
                })
                .finally(() => {
                   spinner(false);
                });
            },
            downloadFile(file) {
                spinner();
                axios.get('download-excel-file/' + file.id, {
                    responseType: 'blob'
                })
                    .then(response => {
                        const url = URL.createObjectURL(new Blob([response.data], {
                            type: 'application/vnd.ms-excel'
                        }));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', file.filename.replace(".xlsm", ".xlsx"));
                        document.body.appendChild(link);
                        link.click();
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: error,
                            icon:"error"
                        });
                    })
                    .finally(() => {
                        spinner(false);
                    });
            },
        }
    }
</script>

<style scoped lang="scss">

    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 0 5px 0 rgba(43,43,43,.1),0 11px 6px -7px rgba(43,43,43,.1);
        box-shadow: 0 0 5px 0 rgba(43,43,43,.1),0 11px 6px -7px rgba(43,43,43,.1);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .comp-card i {
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        text-align: center;
        padding: 17px 0;
        font-size: 18px;
        text-shadow: 0 6px 8px rgba(62,57,107,.18);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        &:hover{
             border-radius: 50%;
         }
    }

    a:hover {
        cursor: pointer;
    }
</style>
