<template>
    <div class="container pt-3" v-cloak>
<!--      begin upload new file section-->
        <div class="form-inline">
            <input type="file" name="excel_file" id="new_excel_file"
                   accept=".xlsm, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                   @change="onNewFileChanged($event)" hidden>
            <button class="btn btn-info" onclick="document.getElementById('new_excel_file').click();">
                Upload File
            </button>
            <div v-if="newFile" class="form-inline">
                <div class="col">
                    <div class="row p-2">
                        <span class="label label-primary text-center">{{ newFile.name + ' (' + Number((newFile.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="row form-check justify-content-start"
                         v-tooltip="getTooltipOptions('Flat file')"
                    >
                        <input class="form-check-input hover-pointer" type="radio" id="picked_flat" value="1"
                               v-model="selectedType">
                        <label class="form-check-label hover-pointer" for="picked_flat">Flat file</label>
                    </div>
                    <div class="row form-check justify-content-start"
                         v-tooltip="getTooltipOptions('Listing report')"
                    >
                        <input class="form-check-input hover-pointer" type="radio" id="picked_listing" value="2"
                               v-model="selectedType">
                        <label class="form-check-label hover-pointer" for="picked_listing">Listing report</label>
                    </div>

                </div>
                <div class="col">
                    <button class="btn btn-danger btn-sm" @click="newFile = false, selectedType= ''"
                            data-toggle="tooltip" title="Cancel"
                    >
                        <i class="fas fa-times"></i>
                    </button>
                    <button :class="selectedType ? 'btn btn-success btn-sm' : 'btn btn-success btn-sm hover-pointer-not-allowed'"
                            @click="uploadNewFile" data-toggle="tooltip"
                            :title="selectedType? 'Upload':'Please select type first'"
                            :disabled="!selectedType"
                    >
                        <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
<!--        end upload new file section-->

<!--        begin table of user files-->
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            <div class="row">
                                    File name&nbsp;
                                <i class="fas fa-sort text-info cursor-pointer"
                                    v-if="sort_field !== 'filename'"
                                   @click="setSort('filename', 'desc')"
                                ></i>
                                <i class="fas fa-sort-down text-info cursor-pointer"
                                   v-if="sort_field === 'filename' && sort_direction === 'desc'"
                                   @click="setSort('filename', 'asc')"
                                ></i>
                                <i class="fas fa-sort-up text-info cursor-pointer"
                                   v-if="sort_field === 'filename' && sort_direction === 'asc'"
                                   @click="setSort('filename', 'desc')"
                                ></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="row">
                                Uploaded at&nbsp;
                                <i class="fas fa-sort text-info cursor-pointer"
                                   v-if="sort_field !== 'created_at'"
                                   @click="setSort('created_at', 'desc')"
                                ></i>
                                <i class="fas fa-sort-down text-info cursor-pointer"
                                   v-if="sort_field === 'created_at' && sort_direction === 'desc'"
                                   @click="setSort('created_at', 'asc')"
                                ></i>
                                <i class="fas fa-sort-up text-info cursor-pointer"
                                   v-if="sort_field === 'created_at' && sort_direction === 'asc'"
                                   @click="setSort('created_at', 'desc')"
                                ></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="row">
                                Last modify at&nbsp;
                                <i class="fas fa-sort text-info cursor-pointer"
                                   v-if="sort_field !== 'modify_at'"
                                   @click="setSort('modify_at', 'desc')"
                                ></i>
                                <i class="fas fa-sort-down text-info cursor-pointer"
                                   v-if="sort_field === 'modify_at' && sort_direction === 'desc'"
                                   @click="setSort('modify_at', 'asc')"
                                ></i>
                                <i class="fas fa-sort-up text-info cursor-pointer"
                                   v-if="sort_field === 'modify_at' && sort_direction === 'asc'"
                                   @click="setSort('modify_at', 'desc')"
                                ></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="row">
                                Type&nbsp;
                            </div>
                        </th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody v-if="userFiles.length">
                    <tr v-for="(file, index) in userFiles" :class="file.id === recentlyUpdatedId ? 'text-success' : ''">
                        <th scope="row">{{index+1}}</th>
                        <td>{{file.filename}}</td>
                        <td>{{file.created_at}}</td>
                        <td>{{file.modify_at}}</td>
                        <td>{{file.type_name}}</td>
                        <td>
                            <button class="btn btn-warning btn-sm" @click="selectFileForEdit(file)"
                                    data-toggle="tooltip" title="Edit Template tab"
                            >
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="btn btn-info btn-sm" @click="downloadFile(file)"
                                    data-toggle="tooltip" title="Download file"
                            >
                                <i class="fa fa-download"></i>
                            </button>
                            <button class="btn btn-danger btn-sm" @click="deleteFile(file.id)"
                                    data-toggle="tooltip" title="Delete file"
                            >
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" :disabled="!paginator.prev_page_url"
                        @click="getUserFilesPerPage(paginator.prev_page_url)"
                ><i class="fas fa-chevron-left"></i></button>
                <button class="btn btn-sm" disabled>{{paginator.current_page}}</button>
                <button class="btn btn-sm btn-primary" :disabled="!paginator.next_page_url"
                        @click="getUserFilesPerPage(paginator.next_page_url)"
                ><i class="fas fa-chevron-right"></i></button>
            </div>

        </div>
<!--        end table of user files-->


    </div>
</template>

<script>
    import {EventBus} from '../app';

    export default {
        name: "ExcelFilesComponent",
        props: ["recentlyUpdatedId"],
        data() {
            return {
                loading: true,
                userFiles: [],
                newFile: false,
                paginator: {current_page: null, prev_page_url: null, next_page_url: null},
                sort_field: false,
                sort_direction: false,
                selectedType: ''
            }
        },
        mounted() {
            this.recentlyUpdatedId
                ? this.getUserFiles("/user-files?sort_field=modify_at&sort_direction=desc")
                : this.getUserFiles();
        },
        created() {

        },
        methods: {
            getTooltipOptions(file_type) {
                return {
                    content: this.getTooltipContent(file_type),
                    autoHide: true,
                    html: true,
                    boundariesElement: 'body',
                    placement: 'bottom',
                    template: this.getTemplateForTooltip()
                }
            },
            getTooltipContent(typeFile) {
                let imageUrl = typeFile === 'Flat file'
                                ? '/images/flatfile_example.png'
                                : '/images/listings_example.png';
                let description = typeFile === 'Flat file'
                                ? 'Usual Amazon template file, without deleted or replaced tabs.'
                                : 'Any excel (.xlsx or .xlsm) file with just one tab.\n Headers must be at first row'
                return '<div class="card" style="width: 25rem;">' +
                            '<img src="'+imageUrl+'" class="card-img-top" alt="...">' +
                            '<div class="card-body" style="background: #a6ffcf;">' +
                                '<h5 class="card-text text-dark">' + description +'</h5>' +
                            '</div>' +
                        '</div>' ;

            },
            getTemplateForTooltip() {
                return '<div class="tooltip" role="tooltip">' +
                            '<div class="tooltip-arrow"></div>' +
                                '<div class="tooltip-inner" style="background: rgba(0, 0, 0, 0) !important;"></div>' +
                       '</div>';
            },
            setSort(sort_field, sort_direction) {
                this.sort_field = sort_field;
                this.sort_direction = sort_direction;
                let url = '/user-files?page=' + this.paginator.current_page + "&sort_field=" + sort_field +
                    "&sort_direction=" + sort_direction;
                this.getUserFiles(url);
            },
            getUserFilesPerPage(url = '/user-files?') {
               let sort_field = this.sort_field ? "&sort_field=" + this.sort_field : "";
               let sort_direction = this.sort_direction ? "&sort_direction=" + this.sort_direction : "";
               let fullUrl = url + sort_field + sort_direction;
               this.getUserFiles(fullUrl);
            },
            getUserFiles(url = '/user-files') {
                spinner();
                axios.get(url)
                    .then(response => {
                        this.userFiles = response.data.data;
                        this.paginator.current_page = response.data.current_page;
                        this.paginator.prev_page_url = response.data.prev_page_url;
                        this.paginator.next_page_url = response.data.next_page_url;
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: error,
                            icon:"error"
                        });
                    })
                    .finally(() => {
                        spinner(false);
                    });
            },
            onNewFileChanged(e) {
                let uploadedFile = e.target.files[0] || e.dataTransfer.files[0];
                if (Number(uploadedFile.size / 1024 / 1024).toFixed(1) < 5) {
                    this.newFile = false;
                    this.newFile = uploadedFile;
                } else {
                    Swal.fire({
                        title: 'Oops... something wrong',
                        text: 'Uploaded file must be less 5Mb.',
                        icon:"error"
                    });
                }

            },
            uploadNewFile() {
                spinner();
                let formData = new FormData();
                formData.append('excel_file', this.newFile);
                formData.append('type', this.selectedType);
                axios.post('upload-excel-file', formData, {headers: {'Content-Type': 'multipart/form-data'}})
                    .then(response => {
                        this.getUserFiles();
                        this.newFile = false;
                        this.selectedType = '';
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: error.response.data.errors.excel_file[0],
                            icon:"error"
                        });
                    })
                .finally(() => {
                    spinner(false);
                });
            },
            selectFileForEdit(file) {
                EventBus.$emit('file-was-chosen', file);
                this.$destroy();
            },
            downloadFile(file) {
                spinner();
                axios.get('download-excel-file/' + file.id, {
                    responseType: 'blob'
                })
                .then(response => {
                    const url = URL.createObjectURL(new Blob([response.data], {
                        type: 'application/vnd.ms-excel'
                    }));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', file.filename.replace(".xlsm", ".xlsx"));
                    document.body.appendChild(link);
                    link.click();
                })
                .catch(error => {
                    Swal.fire({
                        title: 'Oops... something wrong',
                        text: error,
                        icon:"error"
                    });
                })
                .finally(() => {
                   spinner(false);
                });
            },
            deleteFile(fileId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You will not be able to recover this file!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, keep it'
                }).then((result) => {
                    if (result.value) {
                        spinner();
                        axios.delete('delete-excel-file/' + fileId)
                            .then(response => {
                                Swal.fire(
                                    response.data,
                                    'Your file has been deleted.',
                                    'success'
                                );
                                this.getUserFiles();
                            })
                            .catch(error => {
                                Swal.fire({
                                    title: 'Oops... something wrong',
                                    text: error,
                                    icon:"error"
                                });
                            })
                            .finally(() => {
                                spinner(false);
                            });
                    }
                });
            }
        }
    }
</script>

<style scoped>
    .cursor-pointer{
        cursor: pointer;
    }
</style>
