<template>
    <div :class="isRowExpanded ? 'row total-wrapper expanded':'row total-wrapper' "
         :id="'row_' + rowIndex"
         v-if="isPresentInSelectedItemsForModify"
    >
        <!-- begin left side icons menu -->
        <div class="menu-icon px-0">
            <a class="toggle-btn" @click="toggleExpandedRow(rowIndex)"
               title="expand item"
            >
                <i :class="isRowExpanded ? 'fas fa-minus' : 'fas fa-bars'"></i>
            </a>
            <a :class="isRowExpanded ? 'search hidden-icon expanded' : 'search hidden-icon'"
               title="Search from this item"
               @click="showSearchInputInItem(rowIndex)"
            >
                <i class="fas fa-search"></i>
            </a>
            <div v-if="isSearchShow" class="search-input"
                 title="Min:3 character, press Enter for search">
                <input type="text" name="" placeholder="Search"
                       v-on:keyup.enter="searchInputInItem({rowIndex, $event})"
                >
            </div>
            <a @click="cloneRow(rowIndex)"
               title="Clone this item to next"
               :class="isRowExpanded ? 'hidden-icon expanded' : 'hidden-icon'"
            >
                <i class="far fa-clone"></i>
            </a>
            <a @click="moveUpRow(rowIndex)"
               v-if="!isItemFirst(rowIndex) && !isChildUnderParent"
               title="Move up item"
               :class="isRowExpanded ? 'hidden-icon expanded' : 'hidden-icon'"
            >
                <i class="fas fa-arrow-up"></i>
            </a>
            <a @click="moveDownRow(rowIndex)"
               v-if="!isItemLast && !isParentOverChild"
               title="Move down item"
               :class="isRowExpanded ? 'hidden-icon expanded' : 'hidden-icon'"
            >
                <i class="fas fa-arrow-down"></i>
            </a>
            <a @click="removeRow(rowIndex)"
               title="Delete this item"
               :class="isRowExpanded ? 'hidden-icon expanded' : 'hidden-icon'"
            >
                <i class="fa fa-trash"></i>
            </a>
        </div>
        <!-- end left side icons menu -->
        <!-- begin main data per row-->
        <ValidationObserver :ref="'validation_observer_'+ rowIndex" v-slot="{ passes, errors }"
                            tag="div"
                            :class="isRowExpanded ? 'row edit-content justify-content-left expanded': 'row edit-content justify-content-left'">
                <div :class="isSelect(defIndex) ? 'col-sm-1 row-content' : 'col-sm-1 row-content child-is-textarea'"
                     v-for="(values, defIndex) in itemModel"
                     :style="'background-color: ' + getDefinition(defIndex).color+ ';'"
                     v-if="checkShow(defIndex)"
                     :data-definition="defIndex"
                     :data-always-show="getDefinition(defIndex).isRequired || !!rowData[defIndex]"
                     @click.ctrl.prevent="appendToMassInput({rowIndex, defIndex, $event})"
                     @mouseover="refFocus({rowIndex, defIndex, $event})"
                >
                    <div v-if="isSelect(defIndex)">
                        <ValidationProvider :rules="checkRulesPerDefinition(defIndex)"
                                            v-slot="{ errors }"
                                            :name="preparePlaceholder(defIndex)"
                                            :ref="'vp_'+rowIndex+'_'+defIndex"
                        >
                            <select v-model="rowData[defIndex]"
                                    :placeholder="preparePlaceholder(defIndex)"
                                    :class="Object.keys(errors).length? 'editable custom-select has-error' : 'editable custom-select'"
                                    :title="errors[0]"
                                    @change="sendErrorsFromSelectToParentComponent(defIndex)"
                                    v-tooltip="{content: prepareTooltip(defIndex), autoHide: true, boundariesElement: 'body'}"
                            >
                                <option :value="null">{{preparePlaceholder(defIndex)}}</option>
                                <option v-for="validValue in validValues[defIndex]" :value="validValue">{{validValue}}</option>
                            </select>
                        </ValidationProvider>
                    </div>
                    <div v-else-if="isImageField(defIndex)"
                         @drop.prevent="uploadImage({rowIndex, defIndex,$event})" @dragover.prevent
                         @click="showInputImage({rowIndex, defIndex, $event})"
                    >
                        <ValidationProvider :rules="checkRulesPerDefinition(defIndex)"
                                            v-slot="{ errors }"
                                            :name="preparePlaceholder(defIndex)"
                        >
                        <textarea :placeholder="preparePlaceholder(defIndex)"
                                  v-tooltip="{content: prepareTooltip(defIndex), autoHide: true, boundariesElement: 'body'}"
                                  :class="Object.keys(errors).length? 'editable has-error' :'editable image-url'"
                                  :title="errors[0]"
                                  :ref="rowIndex + '_' + defIndex"
                                  v-model.lazy="rowData[defIndex]"
                                  @blur="sendErrorsToParentComponent(defIndex, errors)"
                                  :id="'image_textarea_'+rowIndex+'_'+defIndex"
                                  :style="'background-image: url(' + rowData[defIndex] + ');'"
                        >{{rowData[defIndex]}}</textarea>
                        </ValidationProvider>
                        <input :id="'new_image_'+rowIndex+'_'+defIndex" type="file"
                               accept="image/gif,image/jpeg"
                               @change="uploadImage({rowIndex, defIndex,$event})" hidden>
                    </div>
                    <div v-else-if="defIndex ==='parent_sku'">
                        <ValidationProvider :rules="checkRulesPerDefinition(defIndex)"
                                            v-slot="{ errors }"
                                            :name="preparePlaceholder(defIndex)"
                        >
                        <textarea :placeholder="preparePlaceholder(defIndex)"
                                  :class="Object.keys(errors).length? 'editable has-error' :'editable '"
                                  v-model.lazy="rowData[defIndex]"
                                  :title="errors[0]"
                                  @focusin="setHeight($event)"
                                  v-tooltip="{content: prepareTooltip(defIndex), autoHide: true, boundariesElement: 'body'}"
                                  :ref="rowIndex + '_' + defIndex"
                                  @blur="sendErrorsToParentComponent(defIndex, errors)"
                                  @input="checkChildPosition({rowIndex, defIndex ,$event})"
                        >{{rowData[defIndex]}}</textarea>
                        </ValidationProvider>
                    </div>
                    <div v-else>
                        <ValidationProvider :rules="checkRulesPerDefinition(defIndex)"
                                            v-slot="{ errors }"
                                            :name="preparePlaceholder(defIndex)"
                        >
                        <textarea :placeholder="preparePlaceholder(defIndex)"
                                  :class="Object.keys(errors).length? 'editable has-error' :'editable '"
                                  v-model.lazy="rowData[defIndex]"
                                  :title="errors[0]"
                                  v-tooltip="{content: prepareTooltip(defIndex), autoHide: true, boundariesElement: 'body'}"
                                  @focusin="setHeight($event)"
                                  @blur="sendErrorsToParentComponent(defIndex, errors)"
                                  :ref="rowIndex + '_' + defIndex"
                        >{{rowData[defIndex]}}</textarea>
                        </ValidationProvider>
                    </div>
                </div>
        </ValidationObserver>
        <!-- end main data per row-->
    </div>
</template>

<script>
    import {EventBus} from "../app";
    import { ValidationObserver } from "vee-validate";
    import { fieldsValidationMixin } from "../mixins/fieldsValidationMixin";

    export default {
        name: "ItemComponent",
        components: {ValidationObserver},
        mixins: [fieldsValidationMixin],
        props:['rowIndex', 'rowData', 'dataDefinitions', 'prevItemSku', 'nextParentSku',
            'validValues', 'itemModel', 'selectedDefinitionsForModify', 'isItemLast', 'isParent',
            'excelDataId', 'selectedItemsForModify', 'onlyEmptyFilter', 'fileType'],
        data() {
            return {
                isRowExpanded: false,
                isSearchShow: false,
                defaultDefinitionsForModify: ['item_name', 'main_image_url'],
            }
        },
        computed: {
            isPresentInSelectedItemsForModify() {
                return !this.selectedItemsForModify.length || this.selectedItemsForModify.includes(this.rowIndex);
            },
            isChildUnderParent() {
                return this.typeFile === 1 ? this.rowData['parent_sku'] === this.prevItemSku : false;
            },
            isParentOverChild() {
                return this.typeFile === 1 ? this.rowData['item_sku'] === this.nextParentSku : false;
            }
        },
        mounted() {
            EventBus.$on('check-all-items-for-errors', () => {
                this.checkValidate();
            })
        },
        methods: {
            checkValidate() {
                this.$refs['validation_observer_'+ this.rowIndex].validate()
                    .then(success => {
                    if (!success) {
                        let _this = this;
                        setTimeout(() => {
                            let findingErrors = this.$refs['validation_observer_'+ this.rowIndex].errors;
                            let errorBag = {};
                            _.forOwn(findingErrors, function (bag, field) {
                                if(bag.length) {
                                    errorBag[field] = bag;
                                }
                            });
                            _this.sendAllItemErrorsToParentComponent(errorBag);
                        }, 100);
                        return;
                    }
                });
            },
            sendAllItemErrorsToParentComponent(errors) {
                EventBus.$emit('push-all-item-errors', {id: this.rowIndex, errors: errors});
            },
            checkRulesPerDefinition(columnName) {
                if (this.fileType >= 2) {
                    return '';
                }
                return this.isParent ? this.validationRulesPerDefinitionWhenParent[columnName] : this.validationRulesPerDefinition[columnName];
            },
            setHeight(event) {
                event.target.style.height = '26px';
                event.target.parentElement.parentElement.style.height = '28px';
                event.target.style.height = event.target.scrollHeight + 'px';
                event.target.parentElement.parentElement.style.height = event.target.scrollHeight + 'px';
            },
            refFocus(obj) {
               if (!this.isSelect(obj.defIndex)) {
                    this.$refs[obj.rowIndex + '_' + obj.defIndex][0].focus();
               }
            },
            refBlur(ref, defIndex) {
                if (!this.isSelect(defIndex)) {
                    this.$refs[ref][0].blur();
                }
            },
            sendErrorsToParentComponent(defIndex, errors) {
                setTimeout(() => {
                    EventBus.$emit('push-errors', {
                        id: this.rowIndex,
                        column: ''+this.preparePlaceholder(defIndex)+'' ,
                        errors: errors
                    });
                }, 100);
            },
            sendErrorsFromSelectToParentComponent(defIndex) {
                let ref = 'vp_'+this.rowIndex+'_'+defIndex;
                this.$refs[ref][0].validate()
                    .then(success => {
                        setTimeout(() => {
                            let findingErrors = this.$refs[ref][0].errors;
                            this.sendErrorsToParentComponent(defIndex, findingErrors)
                        }, 100);
                    });
            },
            checkShow(defIndex) {
                if (this.isRowExpanded) {
                    return true;
                }
                if (this.selectedDefinitionsForModify.length) {
                    return this.defaultDefinitionsForModify.includes(defIndex) || this.isPresetInDefinitionsForModifyWithEmptyCheck(defIndex);
                }else {
                    return this.getDefinition(defIndex).isRequired || this.rowData[defIndex]
                }

            },
            toggleExpandedRow(index) {
                this.isRowExpanded = !this.isRowExpanded;
            },
            showSearchInputInItem(index) {
                this.isSearchShow = !this.isSearchShow;
            },
            searchInputInItem(searchObj) {
                if (searchObj.$event.target.value.length > 2) {
                    let index = searchObj.rowIndex;
                    let searchStr = searchObj.$event.target.value;
                    let domItems = $("#row_" + index + " > div > div > div > span > textarea:contains(" + searchStr + "), [placeholder*='" + searchStr+"']");
                    if (domItems.length) {
                        domItems.css('background-color', 'red');
                        //check if row is not expanded
                        this.isRowExpanded = true;
                    }
                }
            },
            isSelect(defIndex) {
                return this.validValues[defIndex] && this.validValues[defIndex][0] !='';
            },
            getDefinition(defIndex) {
                if (this.dataDefinitions[defIndex]) {
                    return this.dataDefinitions[defIndex];
                } else if(this.dataDefinitions[defIndex.replace(/\d+$/, "1")]){
                    // for example in template exists other_image_url5 but in dataDefinitions only other_image_url1, so return data(color, isRequired, example) from first (other_image_url1)
                    return this.dataDefinitions[defIndex.replace(/\d+$/, "1")];
                } else {
                    return {
                        accepted_values:"No values found in Data Definition",
                        color:"#3c3f41",
                        example:"No examples found in Data Definition",
                        isRequired:false,
                        label_name:"No label name found in Data Definition",
                    }
                }
            },
            isItemFirst(rowIndex) {
                return rowIndex === 0;
            },
            isPresetInDefinitionsForModifyWithEmptyCheck(defIndex) {
                return this.onlyEmptyFilter
                    ? (this.selectedDefinitionsForModify.includes(defIndex) && !this.rowData[defIndex])
                    : this.selectedDefinitionsForModify.includes(defIndex);
            },
            prepareTooltip(defIndex) {
                let defVal = this.getDefinition(defIndex);
                return defIndex + (defVal['isRequired'] ? "(required):\n" : ":\n") + defVal['accepted_values'] +
                    " \nExample: " + defVal['example'];
            },
            isImageField(defIndex) {
                return defIndex.includes('image');
            },
            showInputImage(obj) {
                if(!obj.$event.ctrlKey) {
                    document.getElementById('new_image_'+obj.rowIndex+'_'+obj.defIndex).click()
                }
            },
            uploadImage(obj) {
                let image = obj.$event.dataTransfer ? obj.$event.dataTransfer.files[0] : obj.$event.target.files[0];
                if (Number(image.size / 1024 / 1024).toFixed(1) > 5) {
                    return Swal.fire({
                        title: 'Oops... something wrong',
                        text: 'Uploaded file must be less 5Mb.',
                        icon: "error"
                    });
                }
                if(image.type === 'image/jpeg' || image.type === 'image/gif') {
                    let formData = new FormData();
                    formData.append('image', image);
                    axios.post('upload-image/' + this.excelDataId, formData, {headers: {'Content-Type': 'multipart/form-data'}})
                        .then(response => {
                            this.rowData[obj.defIndex] = response.data.link;
                            this.autoSave();
                        })
                        .catch(error => {
                            Swal.fire({
                                title: 'Oops... something wrong',
                                text: error.response.data,
                                icon:"error"
                            });
                        })
                        .finally(() => {
                            spinner(false);
                        });
                } else {
                    Swal.fire({
                        title: 'Oops... wrong format',
                        text: 'Accepted formats are .jpeg, .jpg, and .gif',
                        icon:"error"
                    });
                }
            },
            preparePlaceholder(str) {
                return str.split('_').map(function(item) {
                    return item.charAt(0).toUpperCase() + item.substring(1);
                }).join(' ');
            },
            checkChildPosition({rowIndex, defIndex ,$event}) {

            },
            appendToMassInput(obj) {
                EventBus.$emit('append-to-mass-input', obj);
            },
            cloneRow(rowIndex) {
                EventBus.$emit('clone-row', rowIndex);
            },
            moveUpRow(rowIndex) {
                EventBus.$emit('move-up-row', rowIndex);
            },
            moveDownRow(rowIndex) {
                EventBus.$emit('move-down-row', rowIndex);
            },
            removeRow(rowIndex) {
                EventBus.$emit('remove-row', rowIndex);
            }

        }
    }
</script>

<style scoped>
    @keyframes blink {
        50% { background-color: #ff0000;}
    }

    @-webkit-keyframes blink /* Safari and Chrome */
    {
        from {opacity: 100%;}
        to {opacity: 0;}
    }

    .cursor {
        animation: blink .5s step-end infinite alternate;
        -webkit-animation: blink .5s step-end infinite alternate;; /* Safari and Chrome */
    }


</style>
