<template>
    <div v-cloak>
<!--        begin table of users-->
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            <div class="row">
                                    Full name&nbsp;
                                <i class="fas fa-sort text-info cursor-pointer"
                                    v-if="sort_field !== 'last_name'"
                                   @click="setSort('last_name', 'desc')"
                                ></i>
                                <i class="fas fa-sort-down text-info cursor-pointer"
                                   v-if="sort_field === 'last_name' && sort_direction === 'desc'"
                                   @click="setSort('last_name', 'asc')"
                                ></i>
                                <i class="fas fa-sort-up text-info cursor-pointer"
                                   v-if="sort_field === 'last_name' && sort_direction === 'asc'"
                                   @click="setSort('last_name', 'desc')"
                                ></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="row">
                                Email&nbsp;
                                <i class="fas fa-sort text-info cursor-pointer"
                                   v-if="sort_field !== 'email'"
                                   @click="setSort('email', 'desc')"
                                ></i>
                                <i class="fas fa-sort-down text-info cursor-pointer"
                                   v-if="sort_field === 'email' && sort_direction === 'desc'"
                                   @click="setSort('email', 'asc')"
                                ></i>
                                <i class="fas fa-sort-up text-info cursor-pointer"
                                   v-if="sort_field === 'email' && sort_direction === 'asc'"
                                   @click="setSort('email', 'desc')"
                                ></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="row">
                                Count files&nbsp;
                                <i class="fas fa-sort text-info cursor-pointer"
                                   v-if="sort_field !== 'user_files_count'"
                                   @click="setSort('user_files_count', 'desc')"
                                ></i>
                                <i class="fas fa-sort-down text-info cursor-pointer"
                                   v-if="sort_field === 'user_files_count' && sort_direction === 'desc'"
                                   @click="setSort('user_files_count', 'asc')"
                                ></i>
                                <i class="fas fa-sort-up text-info cursor-pointer"
                                   v-if="sort_field === 'user_files_count' && sort_direction === 'asc'"
                                   @click="setSort('user_files_count', 'desc')"
                                ></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="row">
                                Subscribed?
                            </div>
                        </th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody v-if="users.length">
                    <tr v-for="(user, index) in users">
                        <th scope="row">{{index+1}}</th>
                        <td>{{user.full_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.user_files_count}}</td>
                        <td>
                            <i :class="user.is_subscribed ? 'far fa-check-circle text-success' : 'far fa-times-circle text-danger'"></i>
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm" @click="loginAsUser(user.id)" data-toggle="tooltip"
                                    :title="'Login as ' + user.full_name"
                            >
                                <i class="fas fa-2x fa-user-secret"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" :disabled="!paginator.prev_page_url"
                        @click="getUsersPerPage(paginator.prev_page_url)"
                ><i class="fas fa-chevron-left"></i></button>
                <button class="btn btn-sm" disabled>{{paginator.current_page}}</button>
                <button class="btn btn-sm btn-primary" :disabled="!paginator.next_page_url"
                        @click="getUsersPerPage(paginator.next_page_url)"
                ><i class="fas fa-chevron-right"></i></button>
            </div>

        </div>
<!--        end table of users-->


    </div>
</template>

<script>
    import {EventBus} from '../app';

    export default {
        name: "ListOfUsersComponent",
        data() {
            return {
                loading: true,
                users: [],
                paginator: {current_page: null, prev_page_url: null, next_page_url: null},
                sort_field: false,
                sort_direction: false
            }
        },
        mounted() {
           this.getUsers();
        },
        created() {

        },
        methods: {
            setSort(sort_field, sort_direction) {
                this.sort_field = sort_field;
                this.sort_direction = sort_direction;
                let url = '/list-of-users?page=' + this.paginator.current_page + "&sort_field=" + sort_field +
                    "&sort_direction=" + sort_direction;
                this.getUsers(url);
            },
            getUsersPerPage(url = '/list-of-users?') {
               let sort_field = this.sort_field ? "&sort_field=" + this.sort_field : "";
               let sort_direction = this.sort_direction ? "&sort_direction=" + this.sort_direction : "";
               let fullUrl = url + sort_field + sort_direction;
               this.getUsers(fullUrl);
            },
            getUsers(url = '/list-of-users') {
                spinner();
                axios.get(url)
                    .then(response => {
                        this.users = response.data.data;
                        this.paginator.current_page = response.data.current_page;
                        this.paginator.prev_page_url = response.data.prev_page_url;
                        this.paginator.next_page_url = response.data.next_page_url;
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: error,
                            icon:"error"
                        });
                    })
                    .finally(() => {
                        spinner(false);
                    });
            },
            loginAsUser(user_id) {
                axios.post('login-as/' + user_id)
                .then( response => {
                    window.location = '/'
                })
                .catch( error => {
                    Swal.fire({
                        title: 'Oops... something wrong',
                        text: error,
                        icon:"error"
                    });
                });

            }
        }
    }
</script>

<style scoped>
    .cursor-pointer{
        cursor: pointer;
    }
</style>
