<template>
    <div class="container">
        <div class="card w-50">
            <div class="p-2" v-if="addPaymentStatusError" style="background-color: lightpink">{{addPaymentStatusError}}</div>
            <div class="card-body">
                <label>Card holder name</label>
                <input id="card-holder-name" v-model="cardHolderName" type="text" required>

                <!-- Stripe Elements Placeholder -->
                <div v-if="Object.keys(paymentMethod).length">
                    <span>{{paymentMethod.card.brand}} ...{{paymentMethod.card.last4}} {{paymentMethod.card.exp_month}}/{{paymentMethod.card.exp_year}}</span>
                </div>
                <div v-else id="card-element" class="m-4"></div>

                <button id="card-button"
                        class="btn btn-sm btn-outline-success float-right"
                        @click="submitPaymentMethod()"
                >
                    {{withSubscription ? 'Subscribe' : 'Add card'}}
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from "../app";
    let stripe = Stripe(process.env.MIX_STRIPE_KEY);
    export default {
        name: "PaymentComponent",
        props: {
            paymentMethod: {
               type: Object,
                default: function () {
                    return {};
                }
            },
            withSubscription: {
                type: Boolean,
                default: false
            }
        },
        data(){
            return {
                card: '',
                intentToken: '',
                cardHolderName: Object.keys(this.paymentMethod).length ? this.paymentMethod.billing_details.name : '',
                addPaymentStatusError: ''
            }
        },
        mounted() {
            this.getUserIntent();
            EventBus.$on('confirm-latest-payment', (confirmData) =>{
                this.confirmSubscriptionPayment(confirmData);
            });
        },
        watch: {
            // paymentMethod(){
            //     this.getUserIntent();
            // }
        },
        methods: {
            getUserIntent() {
                axios.post('get-user-intent')
                .then( response => {
                    this.intentToken = response.data.intent;
                    this.card = stripe.elements().create('card');
                    if (!Object.keys(this.paymentMethod).length) {
                        this.card.mount('#card-element');
                    }
                })
                .catch( error => {
                    Swal.fire({
                        title: 'Oops... something wrong',
                        text: error,
                        icon:"error"
                    });
                })
            },
            submitPaymentMethod(){
                spinner();
                if(Object.keys(this.paymentMethod).length) {
                    return this.createSubscription(this.paymentMethod.id);
                }
                this.addPaymentStatus = 1;
                let _this = this;
                stripe.confirmCardSetup(
                    _this.intentToken.client_secret, {
                        payment_method: {
                            card: _this.card,
                            billing_details: {
                                name: _this.cardHolderName
                            }
                        }
                    }
                ).then(function(result) {
                    if (result.error) {
                        _this.addPaymentStatusError = result.error.message;
                        spinner(false);
                    } else {
                        if(_this.withSubscription){
                            _this.createSubscription( result.setupIntent.payment_method );
                            _this.card.clear();
                            _this.name = '';
                        }else{
                            _this.addPaymentMethodOnly(result.setupIntent.payment_method)
                        }
                    }
                }.bind(this));
            },
            createSubscription(payment_method ) {
                axios.post('create-subscription', {payment_method: payment_method})
                .then( response => {
                    Swal.fire({
                        title: 'Congratulations!',
                        text: 'Now you can use this site!',
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'OK',
                    }).then((result) => {
                        if (result.value) {
                            window.location = '/';
                        }
                    });
                })
                .catch( error => {
                    // this is default Cashier way for confirm payment with 3DSecure, but it create card again in stripe customer cards (cashier issue v11.2.4)
                        // if (error.response.data['redirect']) {
                            // window.location = error.response.data['redirect'];
                    // This is second way of confirm pay (without redirect), b
                    if (error.response.data['need_confirm'] && error.response.data['need_confirm'] === true) {
                        this.confirmSubscriptionPayment(error.response.data);
                    }else {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: error,
                            icon:"error"
                        });
                    }
                })
                .finally(() => {
                    spinner(false);
                })
            },
            confirmSubscriptionPayment(confirmValues) {
                stripe.confirmCardPayment(
                    confirmValues.client_secret, {
                        payment_method: confirmValues.payment_method
                    }
                ).then(function (result) {

                    if (result.error) {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: result.error.message,
                            icon:"error",
                            confirmButtonText: 'OK',
                        }).then((result) => {
                            if (result.value) {
                                window.location.reload();
                            }
                        });
                    } else {
                        Swal.fire({
                            title: 'Congratulations!',
                            text: 'Now you can use this site!',
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonText: 'OK',
                        }).then((result) => {
                            if (result.value) {
                                window.location = '/';
                            }
                        });
                    }
                }).finally(() => {
                    spinner(false);
                });
            },
            addPaymentMethodOnly(payment_method) {
                axios.post('add-payment-method', {payment_method: payment_method})
                    .then( response => {
                        EventBus.$emit('payment-methods-reload');
                    })
                    .catch( error => {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: error,
                            icon:"error"
                        });
                    })
                    .finally(() => {
                        spinner(false);
                    })
            }

        }
    }
</script>

<style scoped>

</style>
