<template>
    <div>
        <component v-bind:is="currentComponent" :user-file-id="userFileId" :recently-updated-id="recentlyUpdatedId"></component>
    </div>
</template>

<script>
    import {EventBus} from "../app";
    import ExcelFilesComponent from "./ExcelFilesComponent";
    import TemplateEditComponent from "./TemplateEditComponent";

    export default {
        name: "SwitcherComponent",
        comments: {
            'excel-files': ExcelFilesComponent,
            'template-edit': TemplateEditComponent,

        },
        data() {
            return {
                currentComponent: 'excel-files',
                userFileId: false,
                recentlyUpdatedId: false
            }
        },
        mounted() {
            EventBus.$on('file-was-chosen', (file) => {
                this.userFileId = file.id;
                this.currentComponent = 'template-edit';
            });
            EventBus.$on('back-to-user-files', (id) =>{
                this.recentlyUpdatedId = id;
                this.userFileId = false;
                this.currentComponent = 'excel-files';
            })
        }

    }
</script>

<style scoped>

</style>
