<template>
<div>
    <div v-if="isErrorsGlobalExists && isShowErrors" class="card validation-popup-info" ref="draggableContainer"
         @mousedown="dragMouseDown"
    >
        <div class="card-header py-0 my-0" >
            <label class="my-0">Errors</label>
            <button type="button" class="close" aria-label="Close" @click="errorsGlobal = {}">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div v-for="(errorColumns, item) in errorsGlobal" style="font-size: 10px">
                <span>Item #{{parseInt(item) + 1}}</span>
                <ul v-for="errorColumn in errorColumns" class="my-0">
                    <li v-for="error in errorColumn" >{{error}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card massInputCard" v-if="isMassInputCardShow">
        <div class="card-header">
            <label>Filter</label>
            <button type="button" class="close" aria-label="Close" @click="toggleMassInputCard">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#filter-by-phrase">By phrase</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#advanced-filter">Advanced</a>
                </li>
                <li class="nav-item" :class="selectedDefinitionsForModify.length ? '' : 'hover-pointer-not-allowed'"
                    :title="selectedDefinitionsForModify.length ? 'Search & replace text from selected fields and items from Advanced tab' : 'You need select items and fields in Advanced tab first!'"
                >
                    <a :class="selectedDefinitionsForModify.length ? 'nav-link' : 'nav-link disabled'"
                       data-toggle="tab" href="#search-and-replace"
                    >Search and replace</a>
                </li>
            </ul>
            <!-- End Nav tabs -->
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="filter-by-phrase" class="tab-pane active"><br>
                    <div class="row d-flex justify-content-center mb-3">
                        <input type="text" name="" placeholder="Filter by phrase..."
                               v-on:keyup.enter="searchInputInFileFromEvent($event)"
                               data-toggle="tooltip"
                               style="max-height: 28.9px;"
                               title="Min:3 character, press Enter for search"
                               v-model.lazy="filterPhrase"
                        >
                    </div>
                    <div class="row d-flex justify-content-center mb-3">
                        <input type="checkbox" id="filter-find-fields" v-model="isFilterFindFields">
                        <label for="filter-find-fields" class="hover-pointer"
                               title="Default fields displayed anyway"
                        >
                            Show only find fields?
                        </label>
                    </div>
                    <div class="row d-flex justify-content-around">
                        <div>
                            <button class="btn btn-outline-info btn-sm" @click="searchInputInFile(filterPhrase)"
                                    :disabled="!filterPhrase.length"
                            >Apply</button>
                        </div>
                    </div>
                </div>
                <div id="advanced-filter" class="tab-pane fade"><br>
                    <div class="row" v-if="template.length">
                        <div class="form-group col-12 ">
                            <label for="selectedItems">Select items:</label>
                            <div id="selectedItems" style="max-height: 200px; overflow-y: scroll; border: 1px solid black; padding: 5px">
                                <input type="checkbox" id="item_all" v-model.lazy="selectedItemsForModifyAll"
                                       @change="selectUnselectAllItems"
                                >
                                <label for="item_all" class="hover-pointer">&nbsp;All</label>
                                <div v-for="(item, index) in template">
                                    <input type="checkbox" :id="'item_'+index" :value="index" v-model.lazy="selectedItemsForModify">
                                    <label :for="'item_'+index" class="hover-pointer">
                                        &nbsp;<img :src="item.main_image_url ? item.main_image_url : ''" height="30px">&nbsp;
                                        {{(item.item_name ? item.item_name : item['item-name'] ? item['item-name']: '')}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="selectedItems">Select fields:</label>
                            <v-select multiple v-model="selectedDefinitionsForModify"
                                      :options="dataDefinitionsForBulk"
                                      :reduce="definition => definition.key"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="checkbox" id="only_empty" v-model.lazy="onlyEmpty"
                                   :disabled="!selectedDefinitionsForModify.length">
                            <label for="only_empty" class="hover-pointer"
                                   data-toggle="tooltip"
                                   :data-original-title="!selectedDefinitionsForModify.length ? 'You must select fields first': 'Empty only?'"
                            >&nbsp;Empty only?</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div>
                            <button class="btn btn-outline-info btn-sm" @click="applyFilters()"
                                    :disabled="!selectedItemsForModify.length && !selectedDefinitionsForModify.length"
                            >Apply</button>
                        </div>
                    </div>
                </div>
                <div id="search-and-replace" class="tab-pane fade"><br>
                    <div class="row">
                        <div class="form-group col-12 d-flex justify-content-center">
                            <label for="searchText">Search text:</label>
                            <input id="searchText" type="text" min="3" v-model="searchText" class="float-right">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12 d-flex justify-content-center">
                            <label for="replaceText">Replace text:</label>
                            <input id="replaceText" type="text" min="3" v-model="replaceText" class="float-right">
                        </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div>
                            <button :class="searchText.length < 3 || replaceText.length < 3 ? 'btn btn-outline-info btn-sm hover-pointer-not-allowed':'btn btn-outline-info btn-sm'"
                                    @click="searchAndReplace(searchText, replaceText)"
                                    :disabled="searchText.length < 3 || replaceText.length < 3"
                                    :title="searchText.length < 3 || replaceText.length < 3 ? 'Search and replace fields must be at least 3 characters!' : 'Apply'"
                            >Apply</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Tab panes -->
        </div>
        <div class="card-footer p-2">
            <div class="d-flex justify-content-around">
                <div>
                    <button class="btn btn-outline-warning btn-sm " @click="clearFilter()">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <div ref="draggableContainer" class="card" v-if="massInput.length" style="position: fixed; top: 10%; left: 40%; z-index: 100">
        <div class="card-header" @mousedown="dragMouseDown" style="cursor: grabbing">
            <label>Bulk Input ({{preparePlaceholder(massInput[0]['columnName'])}})</label>
            <button type="button" class="close" aria-label="Close" @click="resetBulkInput">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body" v-if="isSelect(massInput[0]['columnName'])">
            <select v-model.lazy="massInputValue" class="custom-select">
                <option></option>
                <option v-for="validValue in validValues[massInput[0]['columnName']]">{{validValue}}</option>
            </select>
        </div>
        <div class="card-body" v-else>
            <textarea v-model.lazy="massInputValue"
            >{{massInputValue}}</textarea>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-success btn-sm float-right"
                    @click="updateItemsForMassInput()"
            ><i class="fas fa-check"></i></button>
        </div>
    </div>
    <div class="mx-0 content-box px-0" v-cloak v-show="!loading">
        <div class="auto-save-msg" style="display: none">{{messageFromServer}}</div>
        <div class="file-search-input pt-3" >
            <button class="btnBack btn btn-sm btn-outline-warning ml-4" @click="backToUserFiles">< Back</button>
            <button class="btnSave btn btn-sm btn-outline-success float-right mr-xl-4 mr-lg-4 mr-md-4 mr-sm-4"
                    @click="updateExcelData(false)" v-show="!autoSaveCheck"
            >Save</button>
            <button class="btnNewItem btn btn-sm btn-outline-info float-right mr-xl-4 mr-lg-4 mr-md-4 mr-sm-4"
                    @click="addNewItem" data-toggle="tooltip" title="Add new item to end"
            >New item</button>
            <div class="btn-group-toggle btn-group-sm float-right mr-xl-4 mr-lg-4 mr-md-4 mr-sm-4"
                 data-toggle="buttons" v-show="showAutosaveButton"
            >
                <label :class="autoSaveCheck ? 'btn btn-outline-success' : 'btn btn-outline-warning'"
                       data-toogle="tooltip" title="Autosave"
                >
                    <input type="checkbox" v-model="autoSaveCheck">{{autoSaveCheck ? 'on' : 'off'}}
                </label>
            </div>
            <button class="btnToggleMassInputCard btn btn-sm btn-outline-success float-right mr-xl-4 mr-lg-4 mr-md-4 mr-sm-4"
                    @click="toggleMassInputCard"
                    title="Filter"
            >
                <i class="fas fa-filter"></i>
            </button>
        </div>

        <div v-for="(rowData, rowIndex) in template"
             :class="rowData['parent_child'] === 'Child' ? 'wrapper-group child-padding' : 'wrapper-group '"
             v-if="template.length"
        >
            <item-component :row-index="rowIndex"
                            :row-data="rowData"
                            :data-definitions="dataDefinitions"
                            :valid-values="validValues"
                            :item-model="itemModel"
                            :selected-definitions-for-modify="selectedDefinitionsForModify"
                            :excel-data-id="excelDataId"
                            :selected-items-for-modify="selectedItemsForModify"
                            :only-empty-filter="onlyEmpty"
                            :prev-item-sku="isItemFirst(rowIndex) ? false : template[rowIndex - 1]['item_sku']"
                            :next-parent-sku ="isItemLast(rowIndex) ? false : template[rowIndex + 1]['parent_sku']"
                            :is-item-last="isItemLast(rowIndex)"
                            :isParent="rowData['parent_child'] && rowData['parent_child'].toLowerCase() === 'parent'"
                            :file-type="fileType"
            ></item-component>
        </div>
        <div class="pt-4">
            <button class="btnBack btn btn-sm btn-outline-warning ml-4" @click="backToUserFiles">< Back</button>
            <button class="btnSave btn btn-sm btn-outline-success float-right mr-xl-4 mr-lg-4 mr-md-4 mr-sm-4"
                    @click="updateExcelData(false)" v-show="!autoSaveCheck"
            >Save</button>
            <button class="btnNewItem btn btn-sm btn-outline-info float-right mr-xl-4 mr-lg-4 mr-md-4 mr-sm-4"
                    @click="addNewItem" data-toggle="tooltip" title="Add new item to end"
            >New item</button>
        </div>
    </div>
</div>
</template>

<script>
    import {EventBus} from "../app";
    import vSelect from 'vue-select';

    export default {
        name: "TemplateEditComponent",
        props:["userFileId"],
        components: {
            vSelect
        },
        data() {
            return {
                showAutosaveButton: false, //display button autosave(on/off): true/false
                loading: true,
                excelDataId: '',
                dataDefinitions: [],
                validValues: [],
                template: [],
                itemModel: [],
                filterPhrase: '',
                isFilterFindFields: true,
                timerId: '',
                autoSaveCheck: true,
                messageFromServer: '',
                isMassInputCardShow: false,
                selectedItemsForModify: [],
                selectedDefinitionsForModify: [],
                dataDefinitionsForBulk: [],
                massInput:[],
                massInputValue: '',
                positionsBulkDiv: {
                    clientX: undefined,
                    clientY: undefined,
                    movementX: 0,
                    movementY: 0
                },
                selectedItemsForModifyAll: false,
                onlyEmpty: false,
                emptyRequired: [],
                itemsWithEmptyRequired: [],
                errorsGlobal: {},
                isShowErrors: false,
                fileType: 1,
                searchText: '',
                replaceText: '',
            }
        },
        filters: {
            truncate: function (text, length, suffix) {
                if (length === -1) {
                    length = 10 + window.innerWidth * 0.07;
                }
                if (text.length > length) {
                    return text.substring(0, length) + suffix;
                } else {
                    return text;
                }
            },
        },
        computed: {
            isErrorsGlobalExists() {
               return Object.keys(this.errorsGlobal).length;
            }
        },
        mounted() {
            EventBus.$on('append-to-mass-input', (obj) => {
                this.appendToMassInput(obj);
            });
            EventBus.$on('clone-row', (rowIndex) => {
                this.cloneRow(rowIndex);
            });
            EventBus.$on('move-up-row', (rowIndex) => {
                this.moveUpRow(rowIndex);
            });
            EventBus.$on('move-down-row', (rowIndex) => {
                this.moveDownRow(rowIndex);
            });
            EventBus.$on('remove-row', (rowIndex) => {
                this.removeRow(rowIndex);
            });
            EventBus.$on('push-all-item-errors', (obj) => {
                if(!this.errorsGlobal[obj.id]) {
                    if(Object.keys(obj.errors).length) {
                        this.$set(this.errorsGlobal, obj.id, obj.errors);
                    } else {
                        this.autoSave(5000);
                    }
                }else {
                    if(Object.keys(obj.errors).length) {
                        this.errorsGlobal[obj.id] = obj.errors;
                    } else {
                        if (!Object.keys(this.errorsGlobal[obj.id]).length){
                            this.$delete(this.errorsGlobal, obj.id);
                        }
                    }
                }
                //now auto save if no errors
                if (!Object.keys(this.errorsGlobal).length){
                    this.autoSave(5000);
                }

            });
            EventBus.$on('push-errors', (obj) => {
                // obj = {id, column, errors
                if(!this.errorsGlobal[obj.id]) {
                    if(obj.errors.length) {
                        this.$set(this.errorsGlobal, obj.id, {});
                        this.$set(this.errorsGlobal[obj.id], obj.column, obj.errors);
                    } else {
                        this.autoSave(5000);
                    }
                }else {
                    if(obj.errors.length) {
                        if(!this.errorsGlobal[obj.id][obj.column]) {
                            this.$set(this.errorsGlobal[obj.id], obj.column, obj.errors);
                        }else {
                            this.errorsGlobal[obj.id][obj.column] = obj.errors;
                        }
                    } else {
                        if(this.errorsGlobal[obj.id][obj.column]) {
                            this.$delete(this.errorsGlobal[obj.id], obj.column);
                        }
                        if (!Object.keys(this.errorsGlobal[obj.id]).length){
                            this.$delete(this.errorsGlobal, obj.id);
                            this.autoSave(5000);
                        }
                    }
                }
            });
            if (this.userFileId) {
                this.getExcelData(this.userFileId);
            }else {
                this.backToUserFiles();
            }
        },
        watch: {
            autoSaveCheck() {
                this.autoSaveCheck ? this.showAutoSaveMessage('Autosave enabled') : this.showAutoSaveMessage('Autosave disabled');
            }
        },
        methods: {
            searchAndReplace(searchText, replaceText) {
                let escapedString = _.escapeRegExp(searchText);
                let regxFind = new RegExp(escapedString, "gi");
                let _this = this;
                _.forOwn(this.selectedItemsForModify, function (valI, keyI) {
                    _.forOwn(_this.selectedDefinitionsForModify, function (valD, keyD) {
                        if (_this.template[valI][valD]) {
                            _this.template[valI][valD] = _this.template[valI][valD].replace(regxFind, replaceText);
                        }
                    })
                })
            },
            selectUnselectAllItems() {
                if (this.selectedItemsForModifyAll) {
                    this.selectedItemsForModify = Object.keys(this.template).map(function (key) {
                        return key = parseInt(key)
                    });
                } else {
                    this.selectedItemsForModify = [];
                }
            },
            dragMouseDown(event) {
                event.preventDefault()
                // get the mouse cursor position at startup:
                this.positionsBulkDiv.clientX = event.clientX
                this.positionsBulkDiv.clientY = event.clientY
                document.onmousemove = this.elementDrag
                document.onmouseup = this.closeDragElement
            },
            elementDrag(event) {
                event.preventDefault()
                this.positionsBulkDiv.movementX = this.positionsBulkDiv.clientX - event.clientX
                this.positionsBulkDiv.movementY = this.positionsBulkDiv.clientY - event.clientY
                this.positionsBulkDiv.clientX = event.clientX
                this.positionsBulkDiv.clientY = event.clientY
                // set the element's new position:
                this.$refs.draggableContainer.style.top = (this.$refs.draggableContainer.offsetTop - this.positionsBulkDiv.movementY) + 'px'
                this.$refs.draggableContainer.style.left = (this.$refs.draggableContainer.offsetLeft - this.positionsBulkDiv.movementX) + 'px'
            },
            closeDragElement () {
                document.onmouseup = null
                document.onmousemove = null
            },
            appendToMassInput(obj) {
                if(!this.massInputValue) {
                    this.massInputValue = this.template[obj.rowIndex][obj.defIndex];
                }
                if(this.massInput.length && this.massInput[0]['columnName'] !== obj.defIndex) {
                    Swal.fire({
                        title: 'Wrong selection ' + obj.defIndex +'!',
                        text: 'All selected fields must be same:'+ this.massInput[0]['columnName']+'!',
                        icon:"error"
                    });
                }else {
                    $(obj.$event.target).parent().parent().addClass("cursor");
                    this.massInput.push({rowId: obj.rowIndex, columnName: obj.defIndex})
                }
            },
            updateItemsForMassInput() {
                let _that = this;
                _.forOwn(this.massInput, function (item, index) {
                    _that.template[item.rowId][item.columnName] = _that.massInputValue;
                })
            },
            resetBulkInput() {
                this.massInput = [];
                this.massInputValue = '';
                $(".cursor").removeClass("cursor");
            },
            clearFilter() {
                this.selectedItemsForModify = [];
                this.selectedDefinitionsForModify = [];
                this.searchText = '';
                this.replaceText = '';
                this.filterPhrase = '';
                this.toggleMassInputCard();
            },
            applyFilters() {
                this.toggleMassInputCard();
            },
            prepareDataDefinitionsForBulk() {
                let _that = this;
                _.forOwn(this.itemModel, function(val, defKey) {
                    _that.dataDefinitionsForBulk.push({key: defKey, label: _that.preparePlaceholder(defKey)});
                });
            },
            toggleMassInputCard() {
                this.isMassInputCardShow = !this.isMassInputCardShow;
                this.isShowErrors = !this.isShowErrors;
            },
            autoSave(defaultTimeout = 5000) {
                if (this.autoSaveCheck) {
                    if (this.timerId) clearTimeout(this.timerId);
                    this.timerId = setTimeout(this.updateExcelData, defaultTimeout, true);
                } else  {
                    if (this.timerId) clearTimeout(this.timerId);
                }
            },
            showAutoSaveMessage(message = '') {
                this.messageFromServer = message;
                $(".auto-save-msg").fadeIn(1000);
                $(".auto-save-msg").fadeOut(1000);
            },
            getDefinition(defIndex) {
                if (this.dataDefinitions[defIndex]) {
                    return this.dataDefinitions[defIndex];
                } else if(this.dataDefinitions[defIndex.replace(/\d+$/, "1")]){
                    // for example in template exists other_image_url5 but in dataDefinitions only other_image_url1, so return data(color, isRequired, example) from first (other_image_url1)
                    return this.dataDefinitions[defIndex.replace(/\d+$/, "1")];
                } else {
                    return {
                        accepted_values:"No values found in Data Definition",
                        color:"#3c3f41",
                        example:"No examples found in Data Definition",
                        isRequired: false,
                        label_name:"No label name found in Data Definition",
                    }
                }
            },
            backToUserFiles(id = false) {
                EventBus.$emit('check-all-items-for-errors');
                setTimeout(() => {
                    if(Object.keys(this.errorsGlobal).length) {
                        Swal.fire({
                            title: 'You want to exit?',
                            text: 'There are some fields which require validation',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Yes',
                            cancelButtonText: 'Validate'
                        }).then((result) => {
                            if (result.value) {
                                EventBus.$emit('back-to-user-files', id);
                                // this.$destroy();
                            } else {
                                this.popupForFilterEmptyRequiredFields();
                            }
                        });
                    }else {
                        this.autoSave(0);
                        EventBus.$emit('back-to-user-files', id);
                        // this.$destroy();
                    }
                }, 2000);
            },
            popupForFilterEmptyRequiredFields() {
                Swal.fire({
                    title: 'Would you like to see only items which require validation?',
                    // text: 'There are show only failed products!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        this.selectedItemsForModify = Object.keys(this.errorsGlobal).map(function (key) {
                            return key = parseInt(key)
                        });
                        this.selectedDefinitionsForModify = this.emptyRequired;
                        this.onlyEmpty = true;
                    }
                    EventBus.$emit('check-all-items-for-errors');
                    this.isShowErrors = true;
                });
            },
            isItemFirst(rowIndex) {
               return rowIndex === 0;
            },
            isItemLast(rowIndex) {
                return rowIndex === this.template.length - 1;
            },
            cloneRow(rowIndex) {
                Swal.fire({
                    title: 'Copy item',
                    text: 'Copy item and paste after this item and before the next item?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Copy',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.value) {
                        this.discardHighlighting();
                        this.template.splice(rowIndex + 1, 0, {...this.template[rowIndex]});
                    }
                });
            },
            removeRow(rowIndex) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You will not be able to recover this item!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Delete',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.value) {
                        this.template.splice(rowIndex, 1);
                    }
                });
            },
            moveUpRow(rowIndex) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Move this item up?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Move Up',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.value) {
                        this.discardHighlighting();
                        let item = this.template[rowIndex];
                        this.template.splice(rowIndex, 1);
                        this.template.splice(rowIndex - 1, 0, item);
                        // document.getElementById("row_" + (rowIndex - 1)).scrollIntoView();
                    }
                });
            },
            isChildUnderParent(rowIndex) {
                return rowIndex > 0 && this.template[rowIndex] &&
                    this.template[rowIndex]['parent_sku'] === this.template[rowIndex - 1]['item_sku'];
            },
            checkChildPosition(obj) {
                let parentSKU = obj.$event.target.value;
                let _this = this;
                if (parentSKU != '') {
                    _.forOwn(_this.template, function (v,rowIndex) {
                        if (v['item_sku'] === parentSKU && rowIndex > obj.rowIndex) {
                            $(".textarea-editable").removeClass("textarea-editable");
                            let i = rowIndex;
                            _this.discardHighlighting();
                            let item = _this.template[obj.rowIndex];
                            item['parent_sku'] = parentSKU;
                            _this.template.splice(obj.rowIndex, 1);
                            _this.template.splice(rowIndex, 0, item);
                            $('html, body').animate({
                                scrollTop: $("#row_"+rowIndex).offset().top - 50
                            }, 3000);
                            spinner(false);
                        }
                    })
                }
            },
            moveDownRow(rowIndex) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Move this item down?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Move Down',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.value) {
                        this.discardHighlighting();
                        let item = this.template[rowIndex];
                        this.template.splice(rowIndex, 1);
                        this.template.splice(rowIndex + 1, 0, item);
                        // document.getElementById("row_" + (rowIndex + 1)).scrollIntoView();
                    }
                });
            },
            isRowExpanded(index) {
              return $("#row_"+index).hasClass("expanded");
            },
            isPresetInDefinitionsForModify(defIndex) {
               return this.selectedDefinitionsForModify.includes(defIndex);
            },

            discardHighlighting() {
                let domItems = $("textarea");
                if (domItems.length) {
                    domItems.css('background-color', 'white');
                }
            },
            searchInputInFileFromEvent(event) {
                let searchStr = event.target.value;
                this.searchInputInFile(searchStr);
            },
            searchInputInFile(searchStr) {
                let _this = this;
                let isFind = false;
                if (!searchStr.length) {
                    return this.clearFilter();
                }
                if (searchStr.length > 2) {
                    let selectedItemsForModify = [];
                    let selectedDefinitionsForModify = [];
                    _.forOwn(this.template, function (val, index) {
                        _.forOwn(_this.template[index], function (value, defName) {
                            if (_this.template[index][defName] != null) {
                                if (String(_this.template[index][defName]).includes(searchStr)) {
                                    isFind = true;
                                    if (!selectedItemsForModify.includes(parseInt(index))) {
                                        selectedItemsForModify.push(parseInt(index));
                                    }
                                    if (!selectedDefinitionsForModify.includes(defName)) {
                                        selectedDefinitionsForModify.push(defName);
                                    }
                                }
                            }
                        })
                    })
                    this.selectedItemsForModify = selectedItemsForModify;
                    this.selectedDefinitionsForModify = this.isFilterFindFields ? selectedDefinitionsForModify : [];
                    if (!isFind) {
                        this.showAutoSaveMessage('Phrase not found');
                    }
                }
            },
            getExcelData(fileId) {
                spinner();
                axios.get('excel-data-from-file/' + fileId)
                .then( response => {
                    this.excelDataId = response.data.excel_data.id;
                    this.template = response.data.excel_data.template;
                    this.dataDefinitions = response.data.excel_data.data_definitions;
                    this.validValues = response.data.excel_data.valid_values;
                    this.itemModel = response.data.excel_data.item_model;
                    this.loading = false;
                    this.fileType = parseInt(response.data.file_type); //1 - for usual amazon flat file, 2 - simple one tab file(nothing to validate)
                    this.prepareDataDefinitionsForBulk();
                    if (!this.template.length) {
                        this.addNewItem(true);
                    }
                })
                .catch( error => {
                    Swal.fire({
                        title: 'Oops... something wrong',
                        text: error,
                        icon:"error"
                    });
                })
                .finally( () => {
                    spinner(false);
                })
            },
            updateExcelData(fromAutoSave = false) {
                if($(".massInputCard").css("display") !== "block") {
                    spinner(!fromAutoSave);
                }
                axios.post('excel-data/'+ this.excelDataId, {template: this.template})
                .then( response => {
                    // this.backToUserFiles(this.userFileId);
                    this.showAutoSaveMessage(response.data);
                })
                .catch( error => {
                    Swal.fire({
                        title: 'Oops... something wrong',
                        text: error,
                        icon:"error"
                    });
                })
                .finally(() => {
                    if ($(".massInputCard").css("display") !== "block") {
                        spinner(false)
                    }
                })
            },
            addNewItem(instantly = false) {
                if (instantly) {
                    this.template.splice(this.template.length, 0, {...this.itemModel});
                } else {
                    Swal.fire({
                        title: 'New item',
                        text: 'Add new item to the end?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Add',
                        cancelButtonText: 'Cancel'
                    }).then((result) => {
                        if (result.value) {
                            this.template.splice(this.template.length, 0, {...this.itemModel});
                            window.scrollTo(0, document.body.scrollHeight);
                        }
                    });
                }
            },
            preparePlaceholder(str) {
                return str.split('_').map(function(item) {
                    return item.charAt(0).toUpperCase() + item.substring(1);
                }).join(' ');
            },
            isSelect(defIndex) {
                return this.validValues[defIndex] && this.validValues[defIndex][0] !='';
            },
        }

    }
</script>

<style scoped>


</style>
