<template>
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#subscriptions">
                    <i class="fas fa-hand-holding-usd"></i>&nbsp;Subscriptions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#payment-methods">
                    <i class="far fa-list-alt"></i>&nbsp;Payment Methods
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#security">
                    <i class="fas fa-user-shield"></i>&nbsp;Security
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="subscriptions" class="container tab-pane active"><br>
                <div v-if="subscribedMsg" class="alert alert-danger" role="alert">
                    {{subscribedMsg}}&nbsp;<button class="btn btn-sm btn-info" v-if="confirmLink"
                                                   @click.prevent="confirmLatestPayment(confirmLink)"
                >Click here</button>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Subscriptions</div>
                            <div class="card-body">
                                <div v-for="(plan, index) in plans">
                                    <input type="radio" style="vertical-align: middle" :id="index" :value="plan.id" v-model="chosenPlanId">
                                    <label :for="index" :title="plan.description">{{plan.name}}</label>
                                    <button v-if="plan.id === userSubscribedPlan"
                                            @click="cancelOrResumeSubscription(plan)"
                                            class="btn btn-sm float-right"
                                            :title="subscriberStatus === 'GRACE_PERIOD' ? 'Resume subscription' : 'Unsubscribe'"
                                    >
                                        <i :class="subscriberStatus === 'GRACE_PERIOD' ? 'far fa-play-circle text-success' : 'far fa-stop-circle text-danger'"></i>
                                    </button>
                                    <br>
                                </div>
                                <div v-if="chosenPlanId !== userSubscribedPlan">
                                    <label>Choose payment method:</label>
                                    <select v-model="selectedPaymentMethod" @change="showPaymentComponent = true, showNewPaymentForm = false, showPaymentComponentConfirm = false">
                                        <option :value="{}">New payment method</option>
                                        <option v-for="paymentMethod in paymentMethodsData" :value="paymentMethod">
                                            {{paymentMethod.card.brand}} ...{{paymentMethod.card.last4}} {{paymentMethod.card.exp_month}}/{{paymentMethod.card.exp_year}}
                                        </option>
                                    </select>
                                    <div v-if="showPaymentComponent">
                                        <PaymentComponent :payment-method="selectedPaymentMethod || {}" :with-subscription="true"></PaymentComponent>
                                    </div>
                                </div>
                                <div v-if="showPaymentComponentConfirm" style="display: none;">
                                    <PaymentComponent></PaymentComponent>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="payment-methods" class="container tab-pane fade"><br>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <label>Payment methods</label>
                                <button class="btn btn-sm btn-info float-right"
                                        title="Add new"
                                        @click="showNewPaymentForm = true, showPaymentComponent = false, selectedPaymentMethod = {}, showPaymentComponentConfirm = false"
                                >
                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="card-body">
                                <div v-if="showNewPaymentForm">
                                    <PaymentComponent></PaymentComponent>
                                </div>
                                <table class="table" v-if="paymentMethodsData.length">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Brand</th>
                                            <th scope="col">Last Four</th>
                                            <th scope="col">Exp date</th>
                                            <th scope="col">Is default?</th>
                                            <th scope="col">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(paymentMethod, index) in paymentMethodsData">
                                            <td>{{parseInt(index)+1}}</td>
                                            <td><i :class="'fab fa-2x fa-cc-'+paymentMethod.card.brand"></i></td>
                                            <td>{{paymentMethod.card.last4}}</td>
                                            <td>{{paymentMethod.card.exp_month}}/{{paymentMethod.card.exp_year}}</td>
                                            <td>
                                                <i :class=" paymentMethod.id === defaultPaymentMethodData ? 'far fa-check-circle text-success' : 'far fa-times-circle text-danger' "></i>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-danger"
                                                        title="Delete"
                                                        @click="deletePaymentMethod(paymentMethod.id)"
                                                >
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                                <button class="btn btn-sm btn-info"
                                                        title="Set as default"
                                                        @click="changeDefaultPaymentMethod(paymentMethod.id)"
                                                        :disabled="paymentMethod.id === defaultPaymentMethodData"
                                                >
                                                    <i class="fas fa-exchange-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="security" class="container tab-pane fade"><br>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <label>Change password</label>
                            </div>
                            <div class="card-body">
                                <label for="current_password">Current Password</label><br>
                                <input id="current_password" type="password" v-model="currentPassword"
                                       placeholder="type current password..." minlength="8"><br>
                                <label for="new_password">New Password</label><br>
                                <input id="new_password" type="password" v-model="newPassword"
                                       placeholder="type new password..." minlength="8"><br>
                                <label for="new_password_confirm">New Password Confirm</label><br>
                                <input id="new_password_confirm" type="password" v-model="newPasswordConfirm"
                                       placeholder="confirm new password..." minlength="8"><br>
                                <button class="btn btn-sm btn-info float-right" :disabled="!checkPasswords"
                                        @click="changePassword()"
                                >
                                    Change
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PaymentComponent from "./PaymentComponent";
    import {EventBus} from "../app";

    export default {
        name: "UserDashboardComponent",
        props:['plans', 'userSubscribedPlan', 'paymentMethods', 'defaultPaymentMethod'],
        components: {
            PaymentComponent
        },
        data() {
            return {
                chosenPlanId: this.userSubscribedPlan.length ? this.userSubscribedPlan : '',
                selectedPaymentMethod: '',
                showPaymentComponent: false,
                showNewPaymentForm: false,
                showPaymentComponentConfirm: false,
                paymentMethodsData: this.paymentMethods,
                defaultPaymentMethodData: this.defaultPaymentMethod,
                subscribedMsg: '',
                confirmLink: '',
                subscriberStatus: '',
                currentPassword: '',
                newPassword: '',
                newPasswordConfirm: ''
            }
        },
        computed: {
            checkPasswords() {
                return this.currentPassword.length >=8 && this.newPassword.length >=8 && this.newPasswordConfirm.length >=8
                    && this.newPassword === this.newPasswordConfirm;
            }
        },
        mounted() {
            EventBus.$on('payment-methods-reload', () => {
                this.getPaymentMethods();
            });
            this.isSubscribed();
        },
        methods: {
            confirmLatestPayment(confirmData){
                this.showPaymentComponent = false;
                this.showNewPaymentForm = false;
                this.showPaymentComponentConfirm = true;
                spinner();
                this.$nextTick(function () {
                    EventBus.$emit('confirm-latest-payment', confirmData);
                })
            },
            changePassword() {
                Swal.fire({
                    title: 'Are you sure?',
                    // text: 'You will not be able to recover this file!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.value) {
                        spinner();
                        axios.post('change-password', {
                            current_password: this.currentPassword,
                            new_password: this.newPassword,
                            new_password_confirmation: this.newPasswordConfirm
                        })
                            .then(response => {
                                this.currentPassword = '';
                                this.newPassword = '';
                                this.newPasswordConfirm = '';
                                Swal.fire({
                                    title: 'Successfully changed!',
                                    text: response.data.message,
                                    icon: "success"
                                });
                            })
                            .catch(error => {
                                let errors = '<ul class="text-danger">';
                                _.forOwn(error.response.data.errors, function (errArr, fieldName) {
                                    _.forOwn(errArr, function (err, idx) {
                                        errors += '<li>' + err + '</li>';
                                    })
                                })
                                errors += '</ul>'
                                Swal.fire({
                                    title: 'Oops... something wrong',
                                    html: errors,
                                    icon: "error"
                                });
                            })
                            .finally(() => {
                                this.isSubscribed();
                                spinner(false);
                            });
                    }
                });

            },
            cancelOrResumeSubscription(plan) {
                this.subscriberStatus === 'GRACE_PERIOD'
                ? this.resumeSubscription(plan)
                : this.cancelSubscription(plan);
            },
            resumeSubscription(planData) {
                spinner();
                axios.post('restore-subscription', {plan_data: planData})
                    .then(response => {
                        Swal.fire({
                            title: 'Subscription resumed!',
                            text: response.data,
                            icon: "success",
                            showCancelButton: false,
                            confirmButtonText: 'OK',
                        }).then((result) => {
                            if (result.value) {
                                window.location = '/';
                            }
                        });
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: error,
                            icon: "error"
                        });
                    })
                    .finally(() => {
                        this.isSubscribed();
                        spinner(false);
                    });
            },
            cancelSubscription(planData) {
                Swal.fire({
                    title: 'Are you sure?',
                    // text: 'You will not be able to recover this file!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, i wanna unsubscribe!',
                    cancelButtonText: 'No, i change my mind'
                }).then((result) => {
                    if (result.value) {
                        spinner();
                        axios.post('cancel-subscription', {plan_data: planData})
                            .then(response => {
                                Swal.fire({
                                    title: 'Successfully unsubscribed!',
                                    text: response.data,
                                    icon: "success"
                                });
                            })
                            .catch(error => {
                                Swal.fire({
                                    title: 'Oops... something wrong',
                                    text: error,
                                    icon: "error"
                                });
                            })
                            .finally(() => {
                                this.isSubscribed();
                                spinner(false);
                            });
                    }
                });
            },
            isSubscribed() {
                axios.post('is-subscribed')
                    .then(response => {
                        this.subscribedMsg = response.data.message;
                        this.confirmLink = response.data.link;
                        this.subscriberStatus = response.data.status;
                    })
                    .catch( error => {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: error,
                            icon:"error"
                        });
                    })
            },
            getPaymentMethods() {
                axios.post('get-payment-methods')
                    .then(response => {
                        this.paymentMethodsData = response.data.paymentMethods;
                        this.defaultPaymentMethodData = response.data.defaultPaymentMethod;
                        this.showNewPaymentForm = false;
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: error,
                            icon:"error"
                        });
                    })
                    .finally(() => {
                        spinner(false);
                    })
            },
            changeDefaultPaymentMethod(payment_method) {
                spinner();
                axios.post('change-default-payment-method', {payment_method: payment_method})
                    .then( response => {
                        this.defaultPaymentMethodData = response.data.defaultPaymentMethod;
                    })
                    .catch( error => {
                        Swal.fire({
                            title: 'Oops... something wrong',
                            text: error,
                            icon:"error"
                        });
                    })
                    .finally(() => {
                        spinner(false);
                    })
            },
            deletePaymentMethod(payment_method) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You will not be able to recover this!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, keep it'
                }).then((result) => {
                    if (result.value) {
                        spinner();
                        axios.post('delete-payment-method', {payment_method: payment_method})
                            .then( response => {
                                this.defaultPaymentMethodData = response.data.defaultPaymentMethod;
                                this.paymentMethodsData = response.data.paymentMethods;
                            })
                            .catch( error => {
                                Swal.fire({
                                    title: 'Oops... something wrong',
                                    text: error,
                                    icon:"error"
                                });
                            })
                            .finally(() => {
                                spinner(false);
                            })
                    }
                });
            },

        }
    }
</script>

<style scoped>

</style>
